<!DOCTYPE html>
<html>

<head>
    <title>Part C</title>
    <script src="{{ url_for('static', filename='jquery.min.js')}}"></script>
    <script src="{{ url_for('static', filename='chartist.min.js')}}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='chartist.min.css')}}">
    <link rel="stylesheet" href="partA.css">
    <script>
        setInterval(updateData,100);
        function updateData() {
            $SCRIPT_ROOT = {{request.script_root | tojson | safe}};
            $.getJSON($SCRIPT_ROOT + "/getdataB",
                function (data) {
                    $("#colour").text(data.tx);
                });
        };   
    </script>
</head>

<body>
    <form method="post" id="partCForm">
        <div class="titleBox">
            <div class="pageSwap">
                <Button class="pageBtn">Main</Button>
                <Button class="pageBtn">Load Cell</Button>
            </div>
            <div>
                <h1 class="title">TRC3000 Team 122</h1>
            </div>
            <div class="pageSwap">
                <Button class="pageBtn">Movement</Button>
                <Button class="pageBtn active">Imagery</Button>
            </div>
        </div>
        <div class="cells backcolour">
            <div id="Controls" class="quarter photoContainer">
                <div>
                    <h2>Camera Functions</h2>
                    <input type="submit" name="btn" style="width: 90%;" value="Take Photo"><br>
                    <input type="submit" name="btn2" style="width: 90%;" value="Toggle Light"><br>
                </div>
                <div>
                    <img class="image" id="photo" name="photo" src="Light_2FCover.jpg">
                </div>
            </div><br>
            <div id="Readout" class="quarter">
                <h2>Analysis</h2>
                <table>
                    <tr>
                        <th style="width: 50%;">Foam Level (mm)</th>
                        <th style="width: 50%;">Colour</th>
                    </tr>
                    <tr>
                        <td><span id="foamLevel" name="foamLevel">0</span></td>
                        <td><span id="colour" name="colour">0</span></td>
                    </tr>
                    </tr>
                </table>
            </div><br>
            <div id="Graphs" class="quarter">
                <h2>Graph</h2>
                <img src="colourChange.png">
                <div class="ct-chart ct-perfect-fourth"></div>
            </div>
        </div>
    </form>
    <script>
        var data = {
            labels: ["a","b","c","d","e"],
            series: [[1,2,3,4,5]]
        };
        var options = {
            width: 800,
            height: 600
        }
        var myChart = new Chartist.Line('.ct-chart', data, options);
        
        function updateData() {
            var getData = $.get('/getdataC');
            getData.done(function(results){
            var data = {
            labels: [results.l],
            series: [results.v]
            };
            myChart.update(data)
        });
        }

        setInterval(updateData,1000);

        setInterval(updateTime,1000);
        function updateTime() {
            var today = new Date();
            document.getElementById("date").innerHTML = today.getDate()+'/'+(today.getMonth()+1)+'/'+today.getFullYear();
            document.getElementById("time").innerHTML = today.getHours() + ":" + today.getMinutes()
        };
        /**
        setInterval(updateData,1000);
        function updateData() {
            $SCRIPT_ROOT = {{request.script_root | tojson | safe}};
            $.getJSON($SCRIPT_ROOT + "/getdataC",
                function (data) {
                    $("#foamLevel").text(data.fl);
                    $("#mass").text(data.m);
                    var data = {
                        labels: ["a","b","c","d","e"],
                        datasets: [
                            {
                                label: "Color Value",
                                data: {[5,4,23,2,1]},
                                fill: false,
                                borderColor:"rgb(0,0,0)",
                                lineTension:0.1
                            }]
                    };
                    lineGraph.update(data);
                });
        };**/        
    </script>
</body>

</html>