<!DOCTYPE html>
<html>

<head>
    <title>Part A</title>
    <!--{{ url_for('static', filename='partA.css')}}-->
    <script src="{{ url_for('static', filename='jquery.min.js')}}"></script>
    <!--link rel="stylesheet" href="{{ url_for('static', filename='partA.css')}}"-->
    <link rel="stylesheet" href="partA.css">
    <script>
        setInterval(updateData,1000);
        function updateData() {
            $SCRIPT_ROOT = {{request.script_root | tojson | safe}};
            $.getJSON($SCRIPT_ROOT + "/getdata",
                function (data) {
                    $("#mass").text(data.mass);
                });
        };   
    </script>
</head>

<body>
    <form method="post" id="partAForm">
        <br><br>
        <div class="titleBox">
            <div class="pageSwap">
                <a href="partB.html"><Button class="pageBtn">Main</Button></a>
                <Button class="pageBtn active">Load Cell</Button>
            </div>
            <div>
                <h1 class="title">TRC3000 Team 122</h1>
            </div>
            <div class="pageSwap">
                <Button class="pageBtn">Movement</Button>
                <Button class="pageBtn">Imagery</Button>
            </div>
        </div>
        <div class="cells backcolour">
            <div id="Calibrate Load Cell" class="quarter">
                <h2>
                    Load Cell Functions
                </h2>
                <table>
                    <tr>
                        <th>Load Cell Reading</th>
                        <th>Amount of Liquid (ml)</th>
                    </tr>
                    <tr>
                        <td><span id="mass" name="mass">0</span></td>
                        <td><input type="number" id="amount" name="amount" value="0"></td>
                    </tr>
                </table><br>
                <div class="centre">
                    <input type="submit" name="btn" value="Tare">
                    <br><br>
                    <input type="submit" name="btn" value="Calibrate LC">
                </div>
                <h3>Usage</h3>
                <ul>
                    <li>Press the "Tare" button when scale is empty</li>
                    <li>Pour a known amount of liquid, enter it into the table, press "Calibrate"</li>
                </ul>
            </div><br>
            <div id="Load Cell Graph" class="quarter">
                <h2>
                    Load Cell Graph
                </h2>
                

            </div>
        </div>
    </form>
    <!--<script>
        window.runLS = 0;
        window.runIMU = 0;
        document.getElementById("runLS").addEventListener("click",readToggles);
        document.getElementById("runIMU").addEventListener("click",readToggles);
        function readToggles() {
            if (document.getElementById("runLS").checked) runLS = setInterval(readLS,1000);
            else clearInterval(runLS);
            if (document.getElementById("runIMU").checked) runIMU = setInterval(readIMU, 1000);
            else clearInterval(runIMU);
        }
        function readLS() {
            $SCRIPT_ROOT = {
                {
                    request.script_root | tojson | safe
                }
            };
            $.getJSON($SCRIPT_ROOT + "/readIMU",
                function (data) {
                    $("#mass").text(data.mass);
                });
        }
    </script>-->
</body>

</html>