<!DOCTYPE html>
<html>

<head>
    <title>Part C</title>
    <script src="{{ url_for('static', filename='jquery.min.js')}}"></script>
    <script src="{{ url_for('static', filename='chartist.min.js')}}"></script>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='chartist.min.css')}}">
    <script>
        
    </script>
</head>

<body>
    <form method="post" id="partCForm">
        <h1>TRC Automation Project Team 122 Test</h1>
        <h1>Part C</h1>
        <div id="Controls">
            <h2>Controls</h2>
            <input type="submit" name="btn" value="Calibrate Load Cell"><br>
            <input type="submit" name="btn" value="Calibrate IMU"><br>
            <input type="submit" name="btn" value="Program Start">
        </div>
        <div id="Graphs">
            <h2>Graphs</h2>
            <div class="ct-chart ct-perfect-fourth"></div>
        </div>
        <div id="Readout">
            <h2>Readout</h2>
            <table>
                <tr>
                    <th>Foam Level</th>
                    <th>Mass (g)</th>
                    <th>Date</th>
                    <th>Time</th>
                </tr>
                <tr>
                    <td><span id="foamLevel" name="foamLevel">0</span></td>
                    <td><span id="mass" name="mass">0</span></td>
                    <td><span id="date" name="date">Date Unavailable</span></td>
                    <td><span id="time" name="time">Time Unavailable</span></td>
                </tr>
                </tr>
            </table>
        </div>
    </form>
    <script>
        var data = {
            labels: ["a","b","c","d","e"],
            series: [[1,2,3,4,5]]
        };
        var options = {
            width: 800,
            height: 600
        }
        var myChart = new Chartist.Line('.ct-chart', data, options);
        
        function updateData() {
            var getData = $.get('/getdataC');
            getData.done(function(results){
            var data = {
            labels: ["a","b","c","d","e"],
            series: [results.v]
            };
            myChart.update(data)
        });
        }

        //setInterval(updateData,1000);

        setInterval(updateTime,1000);
        function updateTime() {
            var today = new Date();
            document.getElementById("date").innerHTML = today.getDate()+'/'+(today.getMonth()+1)+'/'+today.getFullYear();
            document.getElementById("time").innerHTML = today.getHours() + ":" + today.getMinutes()
        };
        /**
        setInterval(updateData,1000);
        function updateData() {
            $SCRIPT_ROOT = {{request.script_root | tojson | safe}};
            $.getJSON($SCRIPT_ROOT + "/getdataC",
                function (data) {
                    $("#foamLevel").text(data.fl);
                    $("#mass").text(data.m);
                    var data = {
                        labels: ["a","b","c","d","e"],
                        datasets: [
                            {
                                label: "Color Value",
                                data: {[5,4,23,2,1]},
                                fill: false,
                                borderColor:"rgb(0,0,0)",
                                lineTension:0.1
                            }]
                    };
                    lineGraph.update(data);
                });
        };**/        
    </script>
</body>

</html>