<!DOCTYPE html>
<html>
<head>
    <title>Part A</title>
    <link rel="stylesheet" href="partA.css">
</head>
<body>
    <h1>TRC Automation Project Team 122 Test</h1>
    <h1>Part A</h1>
    <div id="Calibrate Load Cell">
        <h2>Calibrate Load Cell</h2>
        <table>
            <tr>
                <th>Load Cell Reading</th>
                <th>Mass Measured (g)</th>
                <th>Amount of Liquid (ml)</th>
            </tr>
            <tr>
                <td><span id="lsReading" name="lsReading">0</span></td>
                <td><span id="mass" name="mass">0</span></td>
                <td><input type="number" id="amount" name="amount" value="0"></td>
            </tr>
        </table><br>
        <input type="submit" name="btn" value="Tare">
        <input type="submit" name="btn" value="Calibrate">
        <h3>Usage</h3>
        <ul>
            <li>Press the "Tare" button when scale is empty</li>
            <li>Pour a known amount of liquid, enter it into the table, press "Calibrate"</li>
    </div>
    <div id="Calibrate Servo">
        <h2>Calibrate Servo</h2>
        <table>
            <tr>
                <th>Signal Sent</th>
                <th>Target Angle (°)</th>
                <th>Actual Angle (°)</th>
            </tr>
            <tr>
                <td><span id="signalSent" name="signalSent">0</span></td>
                <td><input type="number" id="targetA" name="targetA" value="0"></td>
                <td><input type="number" id="actualA" name="actualA" value="0"></td>
            </tr>
        </table><br>
        <input type="submit" name="btn" value="Go to angle">
        <input type="submit" name="btn" value="Calibrate">
        <h3>Usage</h3>
        <ul>
            <li>Enter target angle, press "Go to angle" to send move signal to servo</li>
            <li>Enter actual angle, press "Calibrate"</li>
        </ul>
    </div>
    <div id="Calibrate IMU">
        <h2>Calibrate IMU</h2>
        <table>
            <tr>
                <th colspan="3">Tilt</th>
                <th colspan="3">Acceleration</th>
            </tr>
            <tr>
                <th>x</th>
                <th>y</th>
                <th>z</th>
                <th>x</th>
                <th>y</th>
                <th>z</th>
            </tr>
            <tr>
                <td><span id="tiltX" name="tiltX">0</span></td>
                <td><span id="tiltY" name="tiltY">0</span></td>
                <td><span id="tiltZ" name="tiltZ">0</span></td>
                <td><span id="accX" name="accX">0</span></td>
                <td><span id="accY" name="accY">0</span></td>
                <td><span id="accZ" name="accZ">0</span></td>
            </tr>
        </table><br>
        <label for="runIMU">Start IMU?</label>
        <input id="runIMU" name="runIMU" type="checkbox">
        <input type="submit" name="btn" value="Calibrate">
        <h3>Usage</h3>
        <ul>
            <li>Toggle "Start IMU?" to start updating the table values</li>
            <li>Let machine stabilise, press "Calibrate"</li>
        </ul>
    </div>
    <div id="Record Images with Pi Camera">
        <h2>Record Images from PiCam</h2>
        <img src="image.jpg" alt="Image Not Found"></img><br>
        <input type="submit" name="btn" value="Take Image">
        <h3>Usage</h3>
        <ul>
            <li>Press "Take Image" to take image, lol</li>
        </ul>
    <div class="center">
        <h1 class="title">TRC3000 - Team 122</h1>
    </div>
    <div class="cells backcolour">
        <div id="Calibrate Load Cell" class="quarter">
            <h2>Calibrate Load Cell</h2>
            <table>
                <tr>
                    <th>Load Cell Reading</th>
                    <th>Mass Measured (g)</th>
                    <th>Amount of Liquid (ml)</th>
                </tr>
                <tr>
                    <td><span id="lsReading" name="lsReading">0</span></td>
                    <td><span id="mass" name="mass">0</span></td>
                    <td><input type="number" id="amount" name="amount" value="0"></td>
                </tr>
            </table><br>
            <div class="centre">
                <input type="submit" name="btn" value="Tare">
                <input type="submit" name="btn" value="Calibrate">
            </div>
            <h3>Usage</h3>
            <ul>
                <li>Press the "Tare" button when scale is empty</li>
                <li>Pour a known amount of liquid, enter it into the table, press "Calibrate"</li>
        </div>
        <div id="Calibrate Servo" class="quarter">
            <h2>Calibrate Servo</h2>
            <table>
                <tr>
                    <th>Signal Sent</th>
                    <th>Target Angle (°)</th>
                    <th>Actual Angle (°)</th>
                </tr>
                <tr>
                    <td><span id="signalSent" name="signalSent">0</span></td>
                    <td><input type="number" id="targetA" name="targetA" value="0"></td>
                    <td><input type="number" id="actualA" name="actualA" value="0"></td>
                </tr>
            </table><br>
            <div class="centre">
                <input type="submit" name="btn" value="Go to angle">
                <input type="submit" name="btn" value="Calibrate">
            </div>
            <h3>Usage</h3>
            <ul>
                <li>Enter target angle, press "Go to angle" to send move signal to servo</li>
                <li>Enter actual angle, press "Calibrate"</li>
            </ul>
        </div>
        <div id="Calibrate IMU" class="quarter">
            <h2>Calibrate IMU</h2>
            <table>
                <tr>
                    <th colspan="3">Tilt</th>
                    <th colspan="3">Acceleration</th>
                </tr>
                <tr>
                    <th>x</th>
                    <th>y</th>
                    <th>z</th>
                    <th>x</th>
                    <th>y</th>
                    <th>z</th>
                </tr>
                <tr>
                    <td><span id="tiltX" name="tiltX">0</span></td>
                    <td><span id="tiltY" name="tiltY">0</span></td>
                    <td><span id="tiltZ" name="tiltZ">0</span></td>
                    <td><span id="accX" name="accX">0</span></td>
                    <td><span id="accY" name="accY">0</span></td>
                    <td><span id="accZ" name="accZ">0</span></td>
                </tr>
            </table><br>
            <div class="centre">
            <label for="runIMU">Start IMU?</label>
            <label class="switch">
                <input type="checkbox"id="runIMU" name="runIMU">
                <span class="slider round"></span>
            </label>
            </div>
            <br>
            <div class="centre">
                <input type="submit" name="btn" value="Calibrate">
            </div>
            <h3>Usage</h3>
            <ul>
                <li>Toggle "Start IMU?" to start updating the table values</li>
                <li>Let machine stabilise, press "Calibrate"</li>
            </ul>
        </div>
        <div id="Record Images with Pi Camera" class="quarter">
            <h2>Record Images from PiCam</h2>
            <image src="image.jpg" alt="Image Not Found"></image><br>
            <div class="centre">
                <input type="submit" name="btn" value="Capture Image">
            </div>
            <h3>Usage</h3>
            <ul>
                <li>Press "Take Image" to take image, lol</li>
            </ul>
        </div>
    </div>  
</body>

</html>